@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@1,500&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Great+Vibes&family=Loved+by+the+King&family=Source+Code+Pro:wght@500&display=swap');

* {
  /* font-family: 'Livvic', sans-serif; */
  font-family: 'Source Code Pro', monospace;
}

.intro {
  height: 100vh;
  background-image: url('./background.jpg');
  background-size: cover;
}

.span-intro:nth-child(1) {
  font-size: 8em;
  font-family: 'Frijole', cursive;
  /* font-family: 'Great Vibes', cursive; */
}

.span-intro:nth-child(2) {
  font-size: 8em;
  font-family: 'Loved by the King', cursive;
}

.intro-svg {
  max-width: 50%;
  max-height: 50%;
}

nav {
  background-color: rgba(264, 264, 264, 0.2);
}

@media(max-width: 700px) {
  .nav-bg-dark {
    background-color: rgba(34, 34, 34, 0.8);
  }

  .nav-bg-dark a {
    color: white;
  }

  .nav-bg-dark .navbar-brand span {
    color: white;
  }

  .hide-sm-scroll {
    display: none;
  }
}

nav a {
  font-family: 'Source Code Pro', monospace;
  /* font-family: 'Uncial Antiqua', cursive; */
  color: black;
}

nav a:hover {
  text-decoration: none;
  color: grey;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.post {
  /* background:  rgba(9, 211, 172, 0.9); */
  background:  white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.7);
  /* border-radius: 30px; */
  /* border: 10px 10px 10px 10px solid rgba(37, 161, 136, 0.5); */
  margin-bottom: 15px;
}

.post-data {
  max-height: 500px;
  overflow: hidden;
}

#signUpContainer {
  padding-right: 0 !important;
}

#trending-container {
  padding-right: 0 !important;
  padding-left: 30px;
}

.uk-button:disabled {
  background: rgba(99, 10, 10, 0.753) !important
}

nav .item {
  font-family: 'Uncial Antiqua', cursive;
  font-weight: 800;
  font-size: 1.3em;
}

nav .item:hover {
  color: black;
}

nav .item:hover::before {
  width: 100%;
}

.App-link {
  color: #09d3ac;
}

.editor-container {
  min-height: 50vh;
}

.ql-editor {
  min-height: 40vh;
}

.react-quill {
  background: 'whitesmoke'; 
  height: '100%' 
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background: rgba(34, 34, 34, 0.2);
  color: white;
  background-position: center;
  background-size: cover;
  width: 200px !important;
  height: 200px !important;
}

.card-body {
  height: 150px !important;
  width: 200px !important;
}

.reaction-icon {
  transform: scale(0.8);
}

.reaction-icon:hover {
  transform: rotate(15deg) scale(0.8);
}

.reaction-icon:active {
  transform: rotate(360deg) scale(0.8);
}

.reaction-btn-list {
  margin-left: 10px;
  margin-right: 10px;
}

.loading-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
}

.loading-spinner-component {
  position: relative;
  vertical-align: middle;
  align-items: center;
}

@media(max-width: 550px) {
  .reaction {
    padding: 7px;
    font-size: 0.75rem;
    line-height: normal;
  }

  .reaction-btn-list {
    margin-left: 3px;
    margin-right: 3px;
  }
}

.wrd-otd {
  position: fixed;
  z-index: 999;
  border-radius: 30px;
  width: 25% !important;
  margin: 5px;
  bottom: 2%;
  right: 2%;
}

@media(max-width: 600px) {
  .wrd-otd {
    width: 100% !important;
  }
}

.bg-faded {
  /* background: #b1afaf; */
  background: linear-gradient(to bottom, white, #c5c5c5);
}

.full-height {
  min-height: 100vh;
}

.navbar-brand {
  font-size: 2rem;
}

.frijole {
  font-family: 'Frijole', cursive;
}

.livvic {
  font-family: 'Livvic', sans-serif;
}

.loved-by-king {
  font-family: 'Loved by the King', cursive;
}

.src-code-pro {
  font-family: 'Source Code Pro', monospace;
}

.delete-msg p {
  color: rgba(99, 10, 10, 0.753);
  font-weight: 700;
}

.delete-msg button {
  border:1px 1px 1px 1px solid rgba(99, 10, 10, 0.753);
  margin-right: 4px;
  padding: 5px;
}

.yes-delete:hover {
  background: rgba(99, 10, 10, 0.5);
}

.no-delete:hover {
  background: rgba(255, 230, 0, 0.2);
}

.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  /* background: #85A3BF; */
  background: #09d3ac;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}